<!DOCTYPE html>
<html>
<head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <div class="card">

        <h1>{{ name }}</h1>
        <p>{{ email }}</p>

        <h3>Summary</h3>
        <p>{{ summary }}</p>

        <h3>Skills</h3>
        {% for skill in skills %}
            <span class="tag green">{{ skill }}</span>
        {% endfor %}

        <h3>Projects</h3>
        <ul>
            {% for p in projects %}
                <li>{{ p }}</li>
            {% endfor %}
        </ul>

        <br>
        <a href="/" class="btn">Back</a>

    </div>
</div>

</body>
</html>
